PORT=7777
DB_CONNECTION_SECRET=mongodb+srv://<username>:<password>@cluster.mongodb.net/devTinder
JWT_SECRET=your_jwt_secret_here
ALLOWED_ORIGIN=http://localhost:5173
EMAIL_TO=recipient@example.com
EMAIL_FROM=sender@yourdomain.com
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxx
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
